/*
 *  Project: cli
 *  Author: DarkCthulhu
 *  License: MIT
 */
 
*{
    outline:none;
} 
html{
    color: white;
    overflow:hidden;
}
body{
	background-color: black;
    overflow:hidden;
}
div,p{
    display: block;
    padding: 0px; 
    border: 0px; 
}

.cli{
	color: white;
    margin: 0px auto;
	font-family: 'Share Tech Mono', sans-serif;
    min-height:10px;
    width:100%;
}

#interactive{
    display:inline;
    max-height: 20px;
    
}